{% load static %}

<!DOCTYPE html lang="en">
    <head>
        <title>Anti-UX</title>
        <link rel="stylesheet" type="text/css" href="{% static 'anti_app/base.css' %}">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Pacifico" />
    </head>
    <body>
        <h1>Welcome to the next Anti-UX Challenge</h1>
        <h2>CLICK the <button type="button">start button</button> <a href="{% url 'anti-create' %}">here</a> to <h2 style="color:green"></style>begin</h2></h2>
    </body>
</html>